<!DOCTYPE html>
<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}


{% block body_block %}
<style>
    h1, h2 {
      color: #2c3e50;
    }

</style>

    <div class="container">
        <div class="jumbotron shadow">
            <h1 style="text-align: center;">Nathaniel Johnson</h1>
              <p>
                Tel: +44 7896436292<br>
                Email: <a href="mailto:nathanieljohnson881@gmail.com">nathanieljohnson881@gmail.com</a><br>
                LinkedIn: <a href="https://www.linkedin.com/in/nathaniel-johnson-798538195/" target="_blank">nathaniel-johnson-798538195</a>
              </p>

              <h2 style="text-align: center;">Personal Profile</h2>
              <p>
                A proactive Mechanical Engineering with Robotics graduate from the University of Sussex, passionate about sustainable energy solutions and engineering innovation.
                With strong analytical and problem-solving skills, I have gained hands-on experience through projects such as designing a geothermal energy power cycle and a ball bearing extraction press.
                My studies have provided me with a solid foundation in thermodynamics, robotics, and project management, which I have further developed through practical applications and independent research.
                I thrive in fast-paced, multidisciplinary environments and enjoy tackling complex challenges while continuously expanding my skill set.
                My curiosity and commitment to learning drive me to seek opportunities where I can contribute to impactful projects in energy transition, consultancy, and mechanical design.
                I am eager to apply my knowledge and enthusiasm to create innovative, practical solutions that support a more sustainable future.
              </p>

              <h2 style="text-align: center;">Education</h2>
              <p><strong>University of Sussex (2022 - 2025)</strong><br>
              Mechanical Engineering with Robotics</p>
              <p>Modules include:</p>
              <ul>
                <li>Principles and Applications of Strength of Materials</li>
                <li>Materials and Manufacturing Processes</li>
                <li>Design of Mechanisms and Machines</li>
                <li>Control Engineering</li>
                <li>Engineering Thermodynamics</li>
                <li>Third Year Project in: Geothermal Power, Power Cycle Design</li>
              </ul>

              <p><strong>Ark Bolingbroke Academy (2020-2022)</strong><br>
              A level: AAB in Mathematics, Computer Science, and Physics</p>

              <h2 style="text-align: center;">Skills</h2>
              <ul>
                <li>Python (with various modules and frameworks), C/C++, MATLAB</li>
                <li>SolidWorks, Modelling, and Simulations</li>
                <li>Experience with Embedded Systems including Arduinos</li>
                <li>Mathematical Analysis</li>
                <li>Strong experience with the Microsoft Office Suite</li>
              </ul>

              <h2 style="text-align: center;" >Extracurricular Activities</h2>
              <p><strong>Developed a personal website with a blog feature (2023)</strong></p>
              <ul>
                <li>Learned HTML, CSS, and the Django framework</li>
                <li>Used Python to link templates to the web application</li>
                <li>Applied database knowledge using models and forms</li>
                <li>Used Git for version control</li>
              </ul>

              <p><strong>Penetration Testing Application – Computer Science A Level (2021-2022)</strong></p>
              <ul>
                <li>Designed a GUI with Python's tkinter module</li>
                <li>Project phases: Reconnaissance, Scanning, Exploitation</li>
                <li>Used web scraping and regex to find IPs and servers</li>
                <li>Applied parallel processing and Metasploit framework</li>
                <li>Created a virtual test network</li>
              </ul>

              <p><strong>Journal Collective (2021-2022)</strong></p>
              <ul>
                <li>Experimented with motors and LCD screens using an Arduino Uno</li>
                <li>Programmed in Python to learn more about electronics</li>
                <li>Used PWM for motor control</li>
              </ul>

              <p><strong>Certificate:</strong> Jose Portilla’s Complete Python Bootcamp</p>

              <h2 style="text-align: center;">Work Experience</h2>
              <p><strong>Ajustar24 Care Ltd., Compliance Officer (2020-2023)</strong></p>
              <ul>
                <li>Managed candidate relations and organisational compliance</li>
                <li>Assigned training and ensured adherence to policies</li>
                <li>Used Excel and Word daily; developed excellent communication skills</li>
              </ul>

              <p><strong>Intern at Marshall Wace (2022)</strong></p>
              <ul>
                <li>Explored various departments</li>
                <li>Worked in the cybersecurity team to identify likely cyber threats</li>
                <li>While in the CYer Security department I assisted in the research of Cyber threats</li>
              </ul>

              <p><strong>Fukuda Denshi – Work Experience (June 2019)</strong></p>
              <ul>
                <li>Shadowed a biomedical engineer across hospital visits</li>
                <li>Assisted with network troubleshooting in ICU systems</li>
                <li>Contributed to the setting up of the New Pediatric unit by helping assemble aparatus</li>
              </ul>

              <h2 style="text-align: center;">Special Interests</h2>
              <ul>
                <li>Cello at Grade 5 standard</li>
                <li>Magic: The Gathering</li>
                <li>Hack the box</li>
              </ul>

              <h2>References</h2>
              <p>Available upon request</p>
        </div>
    </div>

{% endblock %}