<!DOCTYPE html>
{% extends "base.html"%}

{%load static%}



{% block body_block %}

   
            
     
    <div class="container" >
        <div class="jumbotron shadow">
            <h1 class="edu-head display-2">Educational history</h1>
        <div class="bschool col-md-8">
            <h1 class="display-4"> Sixth Form</h1>
            <p>At Sixth form I studied:
                <ul>
                <li><strong>Computer Science: A</strong></li>
                <li><strong>Mathematics: A</strong></li>
                 <li><strong>Physics: B</strong></li>
                </ul>
                These A-Levels set a perfect foundation for my academic life at Sussex. A-Levels are a challenging qualification
                to obtain, and because of this I built an excellent work ethic, studying into the late nights and waking up
                in the early mornings. Putting things in place to make my time easier.
                <br>
                <br>
                By the end I held an intense love for my studies and research. Hence award for the Journal Collective mentioned
                in the highlights section. For context the Journal Collective was a group of students that wanted to take<
                their studies further in the mean time by reasearching topics outside of the specification of their A-Levels.
                We also met every week to discuss. My journal entries were mainly focused on electronics, namely my arduino
                board that I had at home. I wanted to advance my knowledge in mechanical engineering but, I realised there
                is still alot of electronics involved within mechanical engineering in today.<br>
                <br>
                <br>
                I also took part in the EPQ. However I am not as proudof this because, I chose the wrong topic for me and
                and didnt really engage with the topic. My topic was <em>"How effective would artifical intelligence be within the ICU"</em>.
                This paired with that fact that we were in the midst of COVID  and I had to switch supervisors resulted in
                me getting a passing grade.<br>

            </p>
            <h3 class="display-6">Highlights</h3>
            <ul>
                <li>Year 12 award for Physics</li>
                <li>Year 12 award for The Journal Collective</li>
                <li>Year 13 award Computer Science</li>
                <li>Achieved Grade 5 Stanard on the cello</li>
            </ul>
            <h1 class="display-4"> Secondary School</h1>
            <p>At secondary School, I did:
            <ul>
            <li>English:6</li>
            <li>Maths:6</li>
            <li>Science: 6</li>
            <li>History:6</li>
            <li>Computer Science:6</li>
            <li>Religion and Philosophy:6</li>
            <li>French:5</li>
            </ul>
            I was also a part of the orchestra as a cello player at the time I was a grade 4.
            </p>
        </div>
    </div>

{% endblock %}
