<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet"  type="text/css" href="{% static 'Overview/css/PlotStyle.css' %}">

{% endblock %}


{% block body_block %}
    <div class="container">

        <div class="jumbotron shadow">
            <h2>Binary Cycle Inputs</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}<!-- The form here comes from the overview view for the flash plot. DOnt be confused-->
                <button type="submit">Run Simulation</button>
                <button type="reset" style="Background: rgb(209, 122, 40);">Clear</button>
            </form>

            <div class="PFUPlot">

                <div id="tsPlot" style="width:100%; height: 100%;">
                    <script>
                        const Temperatures = {{ Temperatures | safe }}
                        const Entropies = {{ Entropies | safe }}
                        const saturation_dome = {{ saturation_dome | safe }}
                        const temperature_range =  saturation_dome[0] 
                        const S_liq =  saturation_dome[1]
                        const S_vap =  saturation_dome[2]
                        
                        const tsData = [{
                            x: Entropies,
                            y: Temperatures,
                            mode: 'lines+markers+text',
                            name: 'Cycle',
                            marker: { color: 'green' },
                            text: ['1', '2', '2s', '3', '4', '5', '6'],
                            textposition: 'bottom right',
                            
                            },
                            {
                            x: S_liq,
                            y: temperature_range,   
                            mode: 'lines',
                            name: 'Saturated Liquid',
                            line: { color: 'blue', dash: 'dot' }
                            },
                            {
                            x: S_vap,
                            y: temperature_range,
                            mode: 'lines',
                            name: 'Saturated Vapor',
                            line: { color: 'red', dash: 'dot' }
                            }]

                        Plotly.newPlot('tsPlot', tsData, {
                            title: 'T–s Diagram of Flash Cycle',
                            xaxis: { title: 'Entropy (J/kg·K)' },
                            yaxis: { title: 'Temperature (K)' },
                            
                            legend: { x: 1, y: 1 }
                        },
                        {
                        responsive: true,
                        displayModeBar: true,
                        useResizeHandler: true
                        })
                    </script>
                </div>

            </div>


            <div class="PFUPlot">

                <div id="phPlot" style="width:100%; height: 100%;">

                    <script>    
                        const Pressures = {{ Pressures | safe }}
                        const Enthalpies = {{ Enthalpies | safe }}
                        
                        const pressure_range =  saturation_dome[3]
                        const H_liq =  saturation_dome[4]
                        const H_vap =  saturation_dome[5]
                        
                        const phData = [{
                            x: Enthalpies,
                            y: Pressures,
                            mode: 'lines+markers+text',
                            name: 'Cycle',
                            marker: { color: 'green' },
                            textposition: 'bottom right',
                            text: ['1', '2', '2s', '3', '4', '5', '5s', '6'],
                            textposition: 'bottom right'
                            },
                            {
                            x: H_liq,
                            y: pressure_range,
                            mode: 'lines',
                            name: 'Saturated Liquid',
                            line: { color: 'blue', dash: 'dot' }
                            },
                                {
                            x: H_vap,
                            y:  pressure_range,
                            mode: 'lines',
                            name: 'Saturated Vapor',
                            line: { color: 'red', dash: 'dot' }
                            }
                            
                            ];

                        Plotly.newPlot('phPlot', phData, {
                            title: 'P-h Diagram of Flash Cycle',
                            xaxis: { title: 'Enthalpy (J/kg)' },
                            yaxis: { title: 'Pressure (Pa)' },
                            
                            legend: { x: 1, y: 1 }
                        },
                        {
                        responsive: true,
                        displayModeBar: true,
                        useResizeHandler: true
                        })
                    </script>
                </div>

            </div>
        </div>

    </div>


{% endblock %}