<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}


{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            <h1>Career</h1>
            <div>
                <h2 class=" display- 5 compliance">Compliance Officer</h2>
                <p>
                    When I was younger I was a compliance officer at a care agency. My motivation for taking the job
                    was that I knew that the role would include alot of talking to unfamiliar people. I knew this experience
                    would improve my social skills and confidence.

                    My responsibilities included:
                </p>
                <ul>
                    <li>Registering Candidates:
                        This included getting their documents and verifying them and ensuring that they had a DBS
                        or were able to get one

                        Not every candidate came to our organisation compliant, so I was also in charge of taking note
                        of who had brought what documnents.

                        I had done this with the use of a comprehensive excel sheet.
                    </li>

                    <li>Training:
                        Though I didnt personally train our candidate. I was in put in charge of the online portal
                        that provided the online training.
                        I had to ensure that all candidates that required training did the training.
                    </li>

                    <li>Answering Phones:
                        During the off-peak times I would handle calls with industry standard phone ettiquette.
                        I had to call candidates for further information too and take messages for managers and
                        the directors sometimes.

                    </li>
                </ul>
                <h2 class=" display- 5 Biomed">Work Experience</h2>
                <p>
                    I was an intern for two weeks at a leading company in Cardiology Instrumentation, Patient monitoring
                    and Ultra sound technology.

                    I spent my time shadowing a Biomedical Engineer.

                    My most notable experience as when one ICU floor and the floor had a networking issues, which made
                    it difficult for one of the rooms to send information to the main nurses desk.
                    This inspired me to learn more about networking which lead to my <a href="{% url 'overview:pent' %}">NEA</a> that I did later on

                </p>
            </div>
        </div>
    </div>


{% endblock %}