<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}

{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            <h1>Penetration Tester</h1>
            <h2>Inspiration</h2>
            <p>
            My inspiration behind starting this project was that I wanted to make an anti virus application ,but I soon<br>
            found out that it would take alot research to carry out. Then it hit me that I could make an application <br>
            that compromises systems instead of defending them. I found a book that I would base my research on and take<br>
            me down the necessary paths. That book being; 'The basics of hacking and penetration testing' by<br>
            </p>

            <h2>Overview</h2>
            <p>
            As my resarch highlighted in most hacking there are four main steps:
            <ol>
                <li>Reconnaissance</li>
                <li>Scanning</li>
                <li>Exploitation</li>
                <li>Post-Exploitation Control*</li>
            </ol>
            but my application only features the first 3 due to restrictions placed on me by my school.

            <h6>Reconnaisance</h6>
            <p>
                The reconnaissance pahse is the part of the hack where the hackler finds things about their targets.<br>
                This includes finding what kind of servers are on the network. The IP of the clients on the network.<br>


            </p>

            <h6>Scanning</h6>
            <p>
                Information is passed across and within networks and clinets on those network by sending packets of data<br>
                from the ports of clients to other clients or any gateway in the network.

                Scanning a clinet on a network includes checking each port to see what protocols are running on those ports<br>
                Common protocols include TCP, UDP and much more*
                <br>
                Upon finding this we can accurately find vulnerabilities which we can use to exploit the system in th enext step
            </p>

            <h6>Exploitation</h6>
            <p>
            This step uses the vulnerabilities we found within. The scanning Phase to exploit the system.
            It is important to note here that I didnt actually hack anyone. I created a virtual network using VMware<br>
            Then I made a network with 1 client and one server. The server was equipt with active directory to make it more realistic<br>
            </p>



            <h1>Execution</h1>
            <p>
                To make this project possible I had to use some external modules such as a python module made after nmap as well as<br>
                a module made after metaslpoit.
                <br>
                Nmap was a module that I used to scanning the client I wanted to exploit. Nmap ran a scan and provided very<br>
                good results that I had to make 'pretty' to present back to the user.<br>
                <br>
                The metaslpoit framework was very exciting to use. It gets updated very frequently with new exploit and it was <br>
                very fun in the end to see each step or phase line up with each other.<br>
                <br>
                Because metasploit was a framework that was much easier to use on linux machines I have to make another<br>
                viurtual machine to host the metaploit framework. Even though it was inconvenient it provided a unique oppourtunity <br>
                To learn to use the unix machines and get used to operating using the command line<br>
                <br>
                Other topics of research include:<br>
                <ul>
                    <li>whois</li>
                    <li>DHCP</li>
                    <li>DNS lookup</li>
                    <li>Asynchronous programming/ Threading(They are very different but are used for similar purposes)</li>
                    <li>Cross site scripting(XSS)</li>
                    <li>Socket Programming</li>
                    <li>Zone Transfer</li>
                    <li>TCP connect</li>
                    <li>SYN Scan</li>
                    <li>UDP Scan</li>
                    <li>Secure Shell(SHH)</li>
                </ul>

                Throughout the project I kept a journal and I have written very comprhensive document of the analysis of<br>
                my application.<br>
            </p>
        </div>
    </div>


{% endblock %}