<!DOCTYPE html>
{% extends "base.html"%}

{% load static %}



{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            <h1>This Website</h1>
            <p>In the earlier days of my education I wanted to get more practical experience in engineering but,
             getting experience in the mechanical engineering field proved difficult because there were limited options.
            In an attempt to bridge this gap I started to learn how to code. First it was in Python, then I learnt C/C++
            just before going to university because I found out that learning it would help me get ahead. In my second year
            I decided to learn Web development on the side as a project and to prove to myself that I can learn a new
            topic or field somewhat unrelated to my greater interests.</p>
            <br>
            <p>This website was made using the Django web develpoment framework. I had to first enhance my Python skills,
            and then I had to learn HTML and CSS, learning and using these two technologies was fun. My main challenges
            came from using the django framework, it being such a large library made it so that there was alot to learn on
            my part and I was used to the level of file handling that would be required</p>
            <br>
            <p>I also found that iot was useful for me to learn to use git and github for effective version control. It also helped me work
            on differen parts and features of my website</p>
            <br>
            <p>In the end I am happy with the result, I have a website that I can use to show my work and I have a better
            understanding of how web development works. I do plan on updating it as I carry on</p>
            <br>


            <ol>
                <li>Django Web framework</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Git</li>
                <li>Github</li>
                <li>Bootstrap</li>
                <li>Plotly</li>
                <li>Javascript</li>
                <li>SQLite</li>
            </ol>
        </div>
    </div>


{% endblock %}