<!DOCTYPE html>
{% extends "base.html"%}

{% load static %}



{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            <h1>This Website</h1>
            <p>In the earlier days of my education I wanted to get more practical experience in engineering but,
             getting experience in the mechanical engineering field proved difficult because there were limited options.
            In an attempt to bridge this gap I started to learn how to code. First it was in Python, then I learnt C/C++
            just before going to university because I found out that learning it would help me get ahead. In my second year
            I decided to learn Web development on the side as a project and to prove to myself that I can learn a new
            topic or field somewhat unrelated to my greater interests.</p>
            <br>
            <p>This website was made using the Django web develpoment framework. I had to first enhance my Python skills,
            and then I had to learn HTML and CSS, learning and using these two technologies was fun. My main challenges
            came from using the django framework to link all of them together also the course that I was using to learn
            was somewhat outdated in terms of the ammount of updates that had come out since it was released so some of
            the time I had to find out the right way to do thing and where certain modules had been moved to.</p>
            <br>
            <p>To add a little complexity to the website I wanted to add a blog feature where I would post about projects
            that I would complete and make a function that would allow viewers of the page to leave a comment on posts
            I would be able to approve or delete comments when I log in and check</p>

            <ul>
                <li>Django Web framework</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>SQLite</li>
            </ul>
        </div>
    </div>


{% endblock %}