

body{
    /*background-image: url('/static/images/Wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    background-color: #8852b0;
    font-family:'SUSE' !important;

    }


.container{
    background-color: #dfe6eb;
    padding: 0px;
    }

.jumbotron{
    padding: 20px;
    }

.figure{
    border: black 1px solid;
}

