<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Blog/css/blogstyle.css' %}">
{% endblock %}
{% block body_block %}
    <div class="container shadow commentparent">
        <h1 class="display-4"> New Comment</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group commentauthor">
                    <label for="id_author">Author:</label><br>
                    {{ form.author }}
            </div>

            <label for="id_text">Text:</label>

            <div class="posttext">

                {{form.text}}
            </div>

            <button type="submit" class="btn btn-default">Post Comment</button>


        </form>
    </div>
<script>
    var editor = new MediumEditor('.editable',
                                    {placeholder: {text: 'This is where you put your comment'},
                                    {height:40%},

                                    });
</script>

{% endblock %}