<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Blog/css/blogstyle.css' %}">
{% endblock %}

{% block body_block %}

    <div class="centerstage">
        {% for post in post_list %}

                <div class="container post" style="margin-top: 20px;">
                    <h1 class="posttitle display-4"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title}}</a></h1>
                    <div class="postdate">
                        <p>Published on: {{post.published_date|date:"d b Y"}}</p>
                    </div>
                    <p class="posttext">{{post.text|safe|linebreaks}}</p>
                    <hr>
                    <a href="{% url 'blog:post_detail' pk=post.pk %}">
                        Commments: {{ post.comment_count }}
                    </a>
                    <!-post.approved_comment.count>
                </div>

        {% endfor %}
        
    </div>

{% endblock %}