<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blogstyle.css' %}">
{% endblock %}

{% block body_block %}
    <div class="container-fluid postparent post  shadow">
        <h1 class=" display-4 posttitle">{{post.title}}</h1>
        {% if post.published_date %}
            <div class="date postdate">
                {{ post.published_date}}
            </div>


        {% endif %}

        <p>{{ post.text|safe|linebreaks }}</p>


        {% if post.post_image %}
            <img src="{{ post.post_image.url }}" alt="Post Image" style="max-width: 300px;">
            <br>
            <caption>{{ post.image_name }}</caption> <!-- If you want to display the image name -->
        {% else %}
            <p>No images uploaded for this post.</p>
        {% endif %}


        <hr>
        {% if user.is_authenticated %}

            <a class="btn btn-primary" href="{% url 'blog:post_update' pk=post.pk %}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="btn btn-primary" href="{% url 'blog:post_delete' pk=post.pk %}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>

        {% endif %}
        <a href="{% url 'blog:post_list' %}" class="btn btn-secondary" style="margin-left: 10px;">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <div style="text-align: right;">
            <a href="{% url 'blog:add_comment' pk=post.pk%}">Add Comment</a>
        </div>
        <br>

    </div>
    <div class="container-fluid commentlist" >

            {% for comment in post.comments.all %}
                <div class="commentchild shadow">
                    <br>
                    {% if user.is_authenticated or comment.approved_comment %}       <!--.approved_comment is a field in a model-->

                        {{comment.created_date}}
                        {% if not comment.approved_comment %}
                           <a class="btn btn-primary" href="{% url 'blog:comment_approve' pk=comment.pk %}">
                               <i class="fa fa-check" aria-hidden="true"></i>
                           </a>

                           <a class="btn btn-primary" href="{% url 'blog:comment_remove' pk=comment.pk %}">
                                <i class="fa fa-times" aria-hidden="true"></i>
                           </a>
                        {% endif %}


                    {% endif %}
                    <p>{{comment.text|safe|linebreaks}}</p>
                    <p style="text-align: right; text-decoration: underline;">Posted By:<em>{{comment.author}}</em></p>
                </div>
            {%empty%}
                <h3 class=" display-5 commentchild" style="padding: 10px;">No Comments</h3>
            {% endfor %}
        </div>
{% endblock %}