<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Blog/css/blogstyle.css' %}">
{% endblock %}
{% block body_block %}

<div class="centerstage">
        {% for post in post_list %}
            <div class="date">
                    <p>Created on: {{post.create_date|date:"D M Y"}}</p>
            </div>
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title}}</a></h1>

                <p>{{post.text}}</p>
                <a href="{% url 'post_detail' pk=post.pk %}">Commments({{post.approved_comments.count}} )</a>
            </div>
        {% endfor %}

    </div>

{% endblock %}