

body{
    /*background-image: url('/static/images/Wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    background-color: #8852b0;
    font-family:'SUSE' !important;




    }

.container{
    background-color: #dfe6eb;
    padding: 0px;
    }

.jumbotron{
    padding: 20px;
    border: 2px solid #8852b0;
    
    }

.important_text{
    border: 1px solid #000;
}

.PFUCycleInfo{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dfe6eb;
}