body{
    font-family: 'SUSE';
    font-size: 20px;

}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-color: #49A2DC;
}

.login-container{
    text-align: center;
}

.btn:hover {
    background-color: #3A8BB0; /* Darker shade on hover */
    cursor: pointer; /* Change cursor to pointer */
}

.login-field{
    padding-bottom: 30px;
}

.post{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#daf4c6;

}

.posttitle{
    font-family: 'SUSE';
    text-align: center ;

}

.postdate{
    font-family: 'SUSE';
    text-align: center;
  }

.posttext{
    font-family: 'SUSE';
    padding: 7px;

    }


.postparent{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 85%;
}

.commentlist{
    width:70%;
    margin-right: right;
    border-radius: 10px;
    padding: 10px;
    margin-top:20px;

}

.commentchild {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width:500px;
    padding: 10px;
    background-color: #e0c6f4;
}

.deleteelement{
            text-align:center;
            display: block;
            margin-bottom: 20px;
            margin: auto;
        }
.deletebox{

    place-items:center;
    border-radius: 10px;
    margin-top: 20px;
    width: 60%;
    padding: 20px;

}

/*Comment Entry*/
.commentparent{
    margin-top:20px;
    padding:20px;
    background-color: #e0c6f4;
    border-radius: 10px;
    }