<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet"  type="text/css" href="{% static 'PowerFromUndergroundApp/css/PlotStyle.css' %}">

{% endblock %}


{% block body_block %}
    <div class="container">

        <div class="jumbotron shadow">
            <h2>Binary Cycle Inputs</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}<!-- The form here comes from the overview view for the flash plot. DOnt be confused-->
                <button type="submit">Run Simulation</button>
                <button type="reset" style="Background: rgb(209, 122, 40);">Clear</button>
            </form>
            <br>
            <p class="important_text">The working fluid for a Binary Cycle is a very important decider in its performance.
            There are alot of fluids that are available in CoolProp. To help in the selection I made a table that helps 
            in the comparison of the fluids.<br>You can find it here: <a href="{% url 'pfu:comparison_table' %}">Working Fluid Comparison</a>
            <br>
            <br>
            <strong>Note: This may take a while to load depending on the size of the data.</strong>
            </p>


            <div class="PFUPlot container">

                <div id="tsPlot"">
                    <script>
                        const Temperatures = {{ Temperatures | safe }}
                        console.log(Temperatures)
                        const Entropies = {{ Entropies | safe }}
                        console.log(Entropies)
                        const saturation_dome = {{ saturation_dome | safe }}
                        const temperature_range =  saturation_dome[0] 
                        const S_liq =  saturation_dome[1]
                        const S_vap =  saturation_dome[2]
                        
                        const tsData = [{
                            x: Entropies,
                            y: Temperatures,
                            mode: 'lines+markers+text',
                            name: 'Cycle',
                            marker: { color: 'green' },
                            text: ['1', '2', '2s', '3', '4', '5', '6'],
                            textposition: 'bottom right',
                            
                            },
                            {
                            x: S_liq,
                            y: temperature_range,   
                            mode: 'lines',
                            name: 'Saturated Liquid',
                            line: { color: 'blue', dash: 'dot' }
                            },
                            {
                            x: S_vap,
                            y: temperature_range,
                            mode: 'lines',
                            name: 'Saturated Vapor',
                            line: { color: 'red', dash: 'dot' }
                            }]

                        Plotly.newPlot('tsPlot', tsData, {
                            title: 'T–s Diagram of Flash Cycle',
                            xaxis: { title: 'Entropy (J/kg·K)' },
                            yaxis: { title: 'Temperature (K)' },
                            
                            legend: { x: 1, y: 1 }
                        },
                        {
                        responsive: true,
                        displayModeBar: true,
                        useResizeHandler: true
                        })
                    </script>
                </div>

            </div>


            <div class="PFUPlot container">

                <div id="phPlot">

                    <script>    
                        const Pressures = {{ Pressures | safe }}
                        const Enthalpies = {{ Enthalpies | safe }}
                        
                        const pressure_range =  saturation_dome[3]
                        const H_liq =  saturation_dome[4]
                        const H_vap =  saturation_dome[5]
                        
                        const phData = [{
                            x: Enthalpies,
                            y: Pressures,
                            mode: 'lines+markers+text',
                            name: 'Cycle',
                            marker: { color: 'green' },
                            textposition: 'bottom right',
                            text: ['1', '2', '2s', '3', '4', '5', '5s', '6'],
                            textposition: 'bottom right'
                            },
                            {
                            x: H_liq,
                            y: pressure_range,
                            mode: 'lines',
                            name: 'Saturated Liquid',
                            line: { color: 'blue', dash: 'dot' }
                            },
                                {
                            x: H_vap,
                            y:  pressure_range,
                            mode: 'lines',
                            name: 'Saturated Vapor',
                            line: { color: 'red', dash: 'dot' }
                            }
                            
                            ];

                        Plotly.newPlot('phPlot', phData, {
                            title: 'P-h Diagram of Flash Cycle',
                            xaxis: { title: 'Enthalpy (J/kg)' },
                            yaxis: { title: 'Pressure (Pa)' },
                            
                            legend: { x: 1, y: 1 }
                        },
                        {
                        responsive: true,
                        displayModeBar: true,
                        useResizeHandler: true
                        })
                    </script>
                </div>

            </div>

            <div class="PFUPlot container"> 

                <div id="WorkContourPlot">

                    <script>
                        const para_work_out_array = {{ para_work_out_array | safe }}
                        const T_range = {{ T_range | safe }}
                        const P_range = {{ P_range | safe }}

                        const workContourData = [{
                            x: T_range,
                            y: P_range,
                            z: para_work_out_array,
                            type: 'contour',
                            colorscale: 'Viridis',
                            colorbar: { title: 'Work Output (W)' },
                            contours: {
                                coloring: 'heatmap',
                                showlabels: true,
                                labelfont: {
                                    family: 'Raleway',
                                    size: 12,
                                    color: 'white'
                                }
                            },
                        }];

                        Plotly.newPlot('WorkContourPlot', workContourData, {
                            title: 'Work Output Vs. Injection Well Temperature and Turbine Inlet Pressure Contour Plot',
                            xaxis: { title: 'Injection Well Temperature (K)' },
                            yaxis: { title: 'Turbine Inlet Pressure (Pa)' },
                            legend: { x: 1, y: 1 }
                        },
                        {
                            responsive: true,
                            displayModeBar: true,
                            useResizeHandler: true
                        })
                    </script>
                </div>

            </div>
        </div>

    </div>


{% endblock %}