<!DOCTYPE html>

{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet"  type="text/css" href="{% static 'PowerFromUndergroundApp/css/PlotStyle.css' %}">

{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="jumbotron shadow">
            <h2>Flash Cycle Inputs</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}<!-- The form here comes from the overview view for the flash plot. DOnt be confused-->
                <button type="submit">Run Simulation</button>
            </form>





            <div class="PFUPlot">
                <div id="tsPlot" style="width:100%; height: 100%;">

                    


                    <script>
                      const Temperatures = {{ Temperatures|safe }};
                      const Entropies = {{ Entropies|safe }};
                      const Sliq = {{ Sliq | safe }}
                      const Svap = {{ Svap | safe }}
                      const range = {{ range | safe }}

                      const labels = ['1', '2', '4', '5', '5s', '6'];




                      const tsData = [
                        {
                          x: Entropies,
                          y: Temperatures,
                          mode: 'lines+markers+text',
                          name: 'Cycle',
                          marker: { color: 'green' },
                          text: labels,
                          textposition: 'bottom right'
                        },
                        {
                          x: Sliq,
                          y: range,
                          mode: 'lines',
                          name: 'Saturated Liquid',
                          line: { color: 'blue', dash: 'dot' }
                        },
                        {
                          x: Svap,
                          y:  range,
                          mode: 'lines',
                          name: 'Saturated Vapor',
                          line: { color: 'red', dash: 'dot' }
                        },
                      ];



                        Plotly.newPlot('tsPlot', tsData, {
                        title: 'T–s Diagram of Flash Cycle',
                        xaxis: { title: 'Entropy (J/kg·K)' },
                        yaxis: { title: 'Temperature (K)' },
                        legend: { x: 1, y: 1 }
                      },
                      {
                      responsive: true,
                      displayModeBar: true,
                      useResizeHandler: true
                      })


                    </script>

                </div>
            </div>
            <p class="mt-4">
                The T-s diagram above shows the cycle, with the saturated liquid and vapor lines. The cycle is represented by the green line, with points labeled 1 to 6.
                <strong>Note:</strong> The above plots are generated based on the input parameters provided in the form.
                <br>
                <ul>
                    <li><strong>1:</strong> This is the state of the geofluid as it goes into the expansion valve.</li>
                    <li><strong>2:</strong> This is the state of the geofluid after the expansion valve where it's flashed.<br>
                              This means that due to the {{ pressure_change }}% the geofluid was partially vaporized.</li>
                    <li><strong>3:</strong> This would be the liquid state of the geofluid after the expansion valve.</li>
                    <li><strong>4:</strong> This is the vapour state of the geofluid just before the inlet of turbine.</li>
                    <li><strong>5:</strong> This is the state of the geofluid after the turbine.</li>
                    <li><strong>5s:</strong> This is the isentropic state of the geofluid after the turbine.</li>
                    <li><strong>6:</strong> This is the state of the geofluid going into the injection well.</li>

                </ul>
            </p>


            <div class="PFUPlot">
                <div id="ParaPlot" style="width:100%; height: 100%;">
                    <script>
                        const percentage_array = {{ percentage_array | safe }};
                        const para_work_out_array = {{ para_work_out_array | safe }};
                        

                        const ParametricData = [
                            {
                                x: percentage_array,
                                y: para_work_out_array,
                                mode: 'lines+markers',
                                name: 'Work Output',
                                marker: { color: 'orange' }
                            }
                        ];

                        Plotly.newPlot('ParaPlot', ParametricData, {
                            title: 'Work Output vs. Pressure Difference',
                            xaxis: { title: 'Pressure Difference' },
                            yaxis: { title: 'Work Output (W)' },
                            legend: { x: 1, y: 1 }
                        },
                        {
                            responsive: true,
                            useResizeHandler: true
                        });

                        window.addEventListener('resize', () => {
                            Plotly.Plots.resize('ParaPlot');
                        });
                    </script>
                </div>
            </div>
            <p>
                The parametric plot above shows the work output of the cycle as a function of the pressure difference. The orange line represents the work output, with points corresponding to different pressure differences.
                <br>
                It can be seen that up to a point decreasing the pressure difference leads to an increase in work output. However, after a certain point, the work output begins to decrease, indicating an optimal pressure difference for maximum efficiency.
                <br>
                This happens because after that certain point the decrease in pressure difference leads to a decrease in the enthalpy of the geofluid, which in turn leads to a decrease in the work output.
            </p>


        </div>
    </div>
{% endblock %}